/* temp font */
html {
  font-family: Arial, Helvetica, sans-serif;
}

#section_1 {
  padding-top: 4rem;
}
.section {
  text-align: center;
  padding-top: 0.61rem;

  border-radius: 4px;
}
.wrapper {
  /* background-image: url("material.jpg"); */
  /* background-size: 0.1rem; */
  /* height: 64em; */
}

.btn_chz {
  margin-top: 0.61rem;
  display: inline-block;
  background-color: grey;
  margin-left: 0.61rem;
  padding: 0.39rem 1.39rem;
  border-radius: 3px;
  background-color: aquamarine;
}
.btn_desc {
  display: inline-block;
  background-color: grey;
  margin-left: 1rem;
  padding: 0.39rem 0.61rem;
  border-radius: 0.39rem;
}

#rating {
  margin: 0;
}

.sai_container {
  padding-top: 2rem;
  text-align: center;
}
.table_labels_containers {
  text-align: center;
}

.center_item {
  text-align: center;
}

header {
  background-image: url("material.jpg");
  color: black;
  font-weight: 300;
  -webkit-text-stroke-width: 0.61px;
  -webkit-text-stroke-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0.39rem;
  padding-top: 0.39rem;
}

#table {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 6rem;
}

#app_body {
  background-image: url("material3.png");
  height: 41.85rem;
  background-size: 11.39rem;
  padding-top: 1.39rem;
}
.flush_mnp {
  padding: 0px;
  margin: 0px;
}

.mood_meter {
  padding-top: 0.61rem;
}
